<!DOCTYPE html>
<html>
<head>
	<title>React multiple component</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>
<body>
	<div id="container"></div>

	<script type="text/jsx">
		// creating component 
		
		var Content = React.createClass({
			render: function(){
				return (
					<h1>I like {this.props.option}</h1>
				);
			}
		});	

		// rendering multiple component 
		
		React.render(
		
			<div>
				<Content option="food"/>
				<Content option="dress"/>
				<Content option="nature"/>
			</div>

		,document.getElementById("container"));

	</script>

</body>



</html>